

.head{

    h2{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 50%;
            height: 3px;
            bottom: 40%;
            margin-left: 10px;
            background-image: linear-gradient(to left , rgba(41, 228, 69, 0.096),rgba(41, 228, 69, 0.415),rgb(41,228,69));
        }
    }
}